<!DOCTYPE html>
<html>
<header>
  <h1><i class="fa fa-terminal"></i> MinaMemes <i class="fa fa-android"></i></h1>
  <p style="text-align:center">There were Tuesdays with Morrie... and then there are Mornings with Mina.</p>
  <h4>Follow me <i class="fa fa-twitter"></i> <a href="https://twitter.com/rah_chung" target="_blank">  @rah_chung</a></h4>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</header>

<body>
<div class="container">
	<ul class="portfolio-items">
    <li class="item">
      <%= image_tag("Mpic17.png") %>
      <div class="date">Mina, Oct 2014</div>
    </li>
    <li class="item">
      <%= image_tag("Mpic16.png") %>
      <div class="date">Mina, Oct 2014</div>
    </li>
    <li class="item">
      <%= image_tag("Mpic15.png") %>
      <div class="date">Mina, Oct 2014</div>
    </li>
		<li class="item">
      <%= image_tag("Mpic14.png") %>
  		<div class="date">Mina, Sept 2014</div>
		</li>

		<li class="item">
      <%= image_tag("Mpic13.png") %>
  		<div class="date">Mina, Sept 2014</div>
		</li>		

		<li class="item">
      <%= image_tag("Mpic12.png") %>
  		<div class="date">Mina, Sept 2014</div>
		</li>

		<li class="item">
      <%= image_tag("Mpic11.png") %>
  		<div class="date">Mina, Sept 2014</div>
		</li>

		<li class="item">
      <%= image_tag("Mpic10.png") %>
  		<div class="date">Mina, Sept 2014</div>
		</li>

		<li class="item">
      <%= image_tag("Mpic9.png") %>
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <%= image_tag("Mpic8.png") %>
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <<%= image_tag("Mpic7.png") %>
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <%= image_tag("Mpic6.png") %>
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <%= image_tag("Mpic5.png") %>
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <%= image_tag("Mpic4.png") %>
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <%= image_tag("Mpic3.png") %>
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <%= image_tag("Mpic2.png") %>
  		<div class="date">Mina, Aug 2014</div>
		</li>

		<li class="item">
      <%= image_tag("Mpic1.png") %>
  		<div class="date">Mina, Aug 2014</div>
		</li>
	</ul>
</div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</html>